h1 {
    background-color: black;
    color: white;
    font-size: 50px;
    font-family: cursive;
}
h2 {
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: cursive;
    font-size: 30px;
    font-weight: 50;
}
h3 {
    background-color:rgb(112, 145, 206);
    text-align: right;
    text-decoration: underline;
    color: rgb(54, 3, 54);
    font-size: 25px;
    font-family: monospace;
    font-weight: 50;
}